*{
    margin: 0;
    padding: 0;
}

.container{
    margin:0 ;
    padding: 0 ;
    width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    /* background: url('/img/banner-2/mikhail-vasilyev-NodtnCsLdTE-unsplash.jpg');
    background-size: cover;
    background-position: center; */
   }
/* ====================================================== Header ======================================================== */
.header{
    width: 100%;
}
/* ======================== */
.line-1{
    width: 100%;
    height: 37px ;
    background: #f5f5f5 ;
    display: flex;
    justify-content: space-around;
    line-height: 37px;

}

.line-1 .title {
    margin-right: 100px;
}

.line-1 .title a, .login a{
 
        font-size: 14px;
        font-weight: 600;
        color: #cc9966;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
}
.line-1 .title span{
    margin-left: 5px;
    color: rgb(193, 190, 190);
    font-size: 16px;
    font-weight: 800;
    text-align: center;
}
.line-1 .title span:hover{
    color: #f5f5f5;
}

.line-1 .login{
    display: flex;
}

.user, .store{
    margin: 0 8px;
}

.line-1 .login .user span,
.line-1 .login .store span {
    margin-right: 5px;
}

/* ===================== */

.line-2{
    width: 100%;
    height: 83.84px;
    background: #f5f5f5 ;
    display: flex;
    /* justify-content: space-around; */
    /* height: 83.84px; */
}

.line-2 .logo{
    margin-left: 150px; 
}

.line-2 .logo img{
    width: 245px;
    height: 70px;  
  
}

.line-2 .search{
    width: 470px;
    height: 40px;
    display: flex;
    align-items: center;
   box-sizing: border-box;
    background-color: #fff;
    margin-top: 20px;
    margin-left: 50px
   
}

.line-2 .search input{
    width: 404px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 25px 0 20px;
}

.line-2 .search button{
    height: 35px;
    width: 61px;
    background: #CC9966;
    outline: none;
    border: none;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;

}

.line-2 .search button span{
    color: #fff;
}

.line-2 .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    margin-top: -5px;
}

.line-2 .contact .phone,
.line-2 .contact .gioHang{
    display: flex;
    color: #cc9966;
    justify-content: center;
    align-items: center;
    
}
.line-2 .contact .gioHang{
    margin-left: 20px;
}

.line-2 .contact .phone span,
.line-2 .contact .gioHang span{
    width: 40px;
    height: 40px;
    /* border: #CC9966 2px solid ;
    border-radius: 70px; */
    font-size: 16px;
}
.line-2 .contact .phone span .fa-phone-volume,
.line-2 .contact .gioHang span .fa-basket-shopping{
    border: #CC9966 2px solid ;
    border-radius: 70px;
    padding: 10px;
}

.line-2 .contact .phone h6{
    font-size: 20px;
    font-weight: 700;
}

.info{
    margin-left: 10px;
}


/* ============================= */

.line-3 {
    width: 100%;
    height: 55px;
    background: #CC9966;
}

.line-3 ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 80px;
}
.line-3 ul li{
    line-height: 55px;
    margin: 0 30px;
    /* display: block; */
    position: relative;
   
    
}

/* menucon============ */
.line-3 ul ul.sub-menu{
    /* căn theo main-menu li */
    position: absolute;
    /* màu nền menu con */
    background-color:rgb(249, 248, 246);
    padding: 15px 0px;
    /* bỏ dấu chấm */
    list-style: none;
    /* chiều rộng */
    width:250px ;
    /* border-bottom: 1px solid rgb(182, 179, 174) ; */
    /* ẩn menu con đi( sub-menu) */
    display: none;
    
}

.line-3 ul li:hover ul.sub-menu{
    /* hover chuột vào li thì hiện menu con */
    display: block;
    
}

.line-3 ul ul.sub-menu a{
    /* tác động vào thẻ a menu con */
    padding: 8px 15px;
    /* border dưới */
    border-bottom: 1px solid rgb(210, 206, 203) ;
    color: rgb(122, 114, 114);
}

.line-3 ul ul.sub-menu  li:hover a{
    /* hover vào li */
    border-bottom: 2px solid rgb(144, 74, 21);
    color: black;
}

.line-3 ul.sub-menu li:last-child a{
    /* bỏ border của thẻ a cuối */
    border: none;
}

/* thiết lập border khi hover */
.line-3 ul>li>a{
    /* thẻ cha của before */
    position: relative;
}
.line-3 ul>li>a::before{
    content: "";
    height: 2.5px;
    width: 0px;
    background:rgb(227, 220, 220) ;
    position: absolute;
    /* vị trí  */
    left: 0px;
    /* đưa xuống dưới */
    bottom: -2px;
    /* ẩn đi */
    /* display: none; */
    /* hiệu ứng */
    transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.line-3 ul>li:hover>a::before{
    /* hiển thị khi hover */
    /* display: block; */
    width: 100%;
}

/* ------------------ */
.line-3 ul li.umm{
    padding: 0 20px;
    margin-right: 25px;
    background: #B18559;
    padding-right: 40px;
}

.line-3 ul li.umm span{
    margin-right: 10px;
    font-size: 18px;
}

.line-3 ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-align: left;
    font-family: Arial, Helvetica , sans-serif;
}

.line-3 ul li span.mui{
   position: absolute;
   line-height: 55px;
   top: 24px;
   margin-left: 5px;
   border: 5.5px solid;
   border-color: #fff transparent transparent transparent;
   font-weight: 700;
   border-radius: 2px;
}

/* ======================= */

.line-4 {
    width: 100%;
}
.line-4 img{
    width: 100%;
    height: 387.75px;
}

/* ====================================================== Content ======================================================== */

.content{
    width: 100%;
}

.content .banner{
    width: 100%;
    height: 270px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.content .banner>div {
    width: 390px;
    height: 240px;
    margin: 0 9px;
    overflow: hidden;
}

.content .banner img{
    width: 370px;
    height: 240px;
   
}


.content .banner>div img:hover{
    filter: opacity(80%);
    transform: scale(1.1) rotate(.0deg);
    transition: 1.1s ;
    
}

/* =====================san pham moi=============== */
.new__product{
    width: 100%;
    margin: 40px 0;
    padding: 0;
}

.new-product{
    text-align: center;
    margin: 20px 0px;        
}

h3{
    font-size: 18px;
    color: #B18559;
    font-weight: bold ;
    font-variant: small-caps;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 2px solid #bebebe;
    border-radius: 25px;
    display: inline-block;
    margin-bottom: 15px;
    cursor: pointer;
    
    /* color: #af1010; */
}

.new-product h3:hover{
    background-color: rgba(210, 162, 99, 1);
    color: rgb(235, 242, 243);
    transition: .25s ;
}

ul.Sp{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:center;
    
}
ul.Sp.Sp-2{
    margin-top: 20px;
}

ul.Sp li{
    width: 218px;  
    box-sizing: border-box;
    margin: 0 13.5px;
    
}

ul.Sp li img{
   width: 218px;
   height: 182.5px;
    
}

ul.Sp li .Sp-top{
    position: relative;
    overflow: hidden;
}

ul.Sp li .Sp-top .Sp-thumb {
    display: block;
}

ul.Sp li:hover .Sp-top .Sp-thumb img{
    filter: opacity(80%);
} 

ul.Sp li .Sp-top .Sp-thumb img{
    display: block;
}

ul.Sp li .Sp-top a.see-more{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color:#CC9966;
    color: aliceblue;
    bottom: -36px;
    padding: 10px 0px;
    position: absolute;
    width: 218px;
    opacity: .8;           
}

ul.Sp li:hover a.see-more{
    bottom: 0px;
    transition:cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s ;
   
}

ul.Sp li .Sp-info{
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul.Sp li .Sp-info a{
   display: flex; 
   text-decoration: none;
   justify-content: center;
   align-items: center;
}

ul.Sp li .Sp-info a.Sp-cat{
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(8, 8, 8);
    padding: 3px 0px;
    font-weight: 500;
}

ul.Sp li .Sp-info a.Sp-name{
    color: rgb(211, 209, 208);
    padding: 3px 0px;
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 5px;
}

ul.Sp li .Sp-info .Sp-price{
    color: #CC9966;
    padding: 2px 0px;
    font-weight:700;
    text-align: center;
}

.btn{
    color: #fff;
    font-size: 14px;
    border-radius: 50px;
    padding: 8px 20px;
    border: none;
    outline: none;
    background: #D92B1F;
    font-weight: 500;
    margin-top: 15px;
}


/* =========shop cho + meo=============== */
.Dog, .Cat{
    width: 100%;
    display: flex;   
    justify-content: center;
    align-items: center;
}

.container-Sp{
    max-width: 1200px;
    margin: 0px auto;
}

nav.cat{
    height: 45px;
    border-bottom: 2px solid rgba(204, 153, 102, 1);
    display: flex;
    justify-content:space-between;
    margin-top: 7px;
}

a{
    text-decoration: none;
    color: black;
}

nav.cat .type-menu a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

nav.cat .type-menu {
    background: rgba(204, 153, 102, 1);
    width: 162px;
    text-align: center;
    padding-top: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
   
}

nav.cat .menu-list ul{
    list-style: none;
    display: flex;
    justify-content: center;   
    margin-right: 30px; 
}

nav.cat .menu-list ul li{
    margin-top: 15px;
    padding: 0 15px;
}

/* .menu-list ul{
    margin-top: 0px;
} */
/* ======================== */



.contents{
    width: 100%;
    margin-top: 26px;
    display: flex;   
    justify-content: center;
    align-items: center;
}

.contents .col-1 img{
    margin-bottom: 20px;
}

.contents .col-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: -5px;
}
.contents .col-2 .product-content{
    width: 160px ;
    height: 300px;
    margin: 20px 8px;
    padding: 0 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;

}


.contents .col-2 .product-content img{
    width: 100%;
    height: 170px;
    margin-top: 20px;
}

.content-detail{
    display: flex;
    align-items: center;
   
}
 .conten-detail button{
   margin-left: 20px;
 } 

 h4{
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    padding-bottom: 15px;
 }
 

.conten-detail .price{
  /* margin-left: 43px; */
  margin-top: 6px;
  margin-bottom: 6px;
  text-align: center;
    
} 
.conten-detail .price a{
    color: #CC9966;
    padding: 2px 0px;
    font-weight:700;
    text-align: center;
}

button.btn:hover{
    color: #ee3b0a;
    background: transparent;
    box-shadow: inset 0 0 5px rgb(186, 184, 184);
    transform: scale(0.8);
    transition: 0.25s;
    cursor: pointer;
    
}
/* =========== aside ============ */

.aside{
    width: 190px;
    height: 126px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 45vh;
    display: none;
    transition: 0.5s;
    margin: 0;
    padding: 0;
    cursor: pointer;
   
}

.show-aside {
    display: block !important;
  }

.aside.gia, .aside.cho, .aside.meo{
    width: 180px;
    height: 36px;
}

.aside .sub-gia, .aside .sub-cho, .aside .sub-meo{
    width: 170px;
    height: 31px;
    color: #faf7f7;
    line-height: 31px;
    border-radius: 2px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: px;
    
   
}

.sub>.ime {
    width: 30px;
    height: 30px;  
    line-height: 30px;  
    margin-right: 2px; 
    text-align: center;
    padding: px;
}


.aside .gia .ime{
    background:#bd8750 ;
    border-radius: 1.5px;
}
.aside .cho .ime{
    background: rgb(232, 92, 17);
    border-radius: 1.5px;
}
.aside .meo .ime{
    background: rgb(133, 60, 230);
    border-radius: 1.5px;
}

.sub .tt{ 
    width: 90px;  
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    text-align: center;
    display: none;   
    padding: px; 
}

.aside .ht .sub:hover .tt{
    display: block;
}


/* ================================footer===================== */
.footer{
    width: 100%;  
}

.f_line-1{
    width: 100%;  
    height: 329px;
    /* background: #f4f3f3;   */
    margin: 10px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* /////////////cho */
.f_line-1 .cs-cho{
    width: 420px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-left:130px;
    padding-left: 30px;
}

.f_line-1 .cs-cho .cs-cho-1{
   width: 100%;
   display: flex;
   justify-content: space-between;
} 
.f_line-1 .cs-cho .cs-cho-1 a:hover,
.f_line-1 .cs-meo .cs-meo-1 a:hover{
    color: #bd8750;
}
.cs-cho-1 .tieude,
.cs-meo-1 .tieude{
    font-weight: 600;
}

.cs-cho .cs-cho-2{
    width: 100%;
    padding:0 6px;
    margin-top: 10px;
    margin-left: 10px;
}
.bl-sub{
    height: 30px;
}
.cs-cho .cs-cho-2 .bl-sub {
    width: 100%;
    line-height:40px ;
}
.cs-cho .cs-cho-2 .bl-sub>span{
    line-height: 30px;
}

.cs-cho .cs-cho-2:hover a{
    color: #174dd7;
    font-size: 15px;
    font-weight: 500;
}
.cs-cho .cs-cho-2 .bl-sub span>.fa-solid{
    color: #b1afaf;
    font-size: 11px;
    padding-left: 5px;
}



/* //////////meo */
.f_line-1 .cs-meo{
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding: 0 0px;
    padding-left: 30px;
    margin-top: 0;
    margin-left: 100px;
    
}

.cs-meo .cs-meo-1{
    width: 650px;
    display: inline-flex;
    justify-content: flex-start;
   padding-bottom: 15px ;
}

.cs-meo .cs-meo-1 a.tieude{
    margin-right: 300px;
}

.cs-meo .cs-meo-2{
    width: 670px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0;
    padding-bottom: 15px ;
    margin-top: 10px;
}
.cs-meo-2 .anh-meo{
    margin-right: 20px;
    padding-left: 10px;
}

.cs-meo-2 .chiase{
   
    height: 100px;
   margin-top: -60px;

   
}

.cs-meo .cs-meo-3{
    margin-top: 5px;
    width: 100%;
    display: block;

    justify-content: flex-start;
    align-items: center;
   padding-bottom: 15px ;
}
/* ===============icon================ */

span.cham {
    font-size: 8px !important;
    color: #e19840;
    margin-right: 2px;
 
}
span.lo{
    color: #bd8750;
    font-weight: 400;
}

.cs-cho a.mucnho{
    font-size: 14px;
    color: black;
}
.cs-meo-3>{
    display: block;
   
}

.cs-meo-3>a span.text {
    color: rgb(49, 58, 225);
}

.cs-meo-3>a span.text-2 {
    color: rgb(158, 158, 161);
}
.cs-meo-3>a:hover span {
    color: #B18559;
    font-size: 14px;
}


.cs-meo-3>a span.not{
    padding:  1px 3px;
    background-color: #f80808;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 10px;
}

/* =====================line-2================ */

.fline-2{
   width: 100%; 
   background: #F9F9F9;
   display: flex;
   justify-content:center;
   align-items: center;
   height: 111px;
}

.foot-item{
    width: 20%;
    display: flex;
    justify-content: space-around;
    height: 110px;   
    align-items: center;
}


.foot-item img{
    width: 59px;
    height: 42px;
}

.foot-item .foot-item-text{
    display: flex;
    flex-direction: column;
}
.foot-item .foot-item-text .item-title{
    font-size: 14px;
    color: #CC9966;
    font-weight: 700;
    padding-bottom: 7px;
}

.foot-item-text{
    width: 204px;
}
.foot-item .foot-item-text .item-conten{
    font-size: 13px;
    color: #888888;
    line-height: 18px;
}


/* ============line-3============= */

.fline-3{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.fline-3 .infomation{
    display: flex;
    flex-direction: column;    
    margin-top: 30px;
    margin-right: 35px;
}

.fline-3 .infomation a.first-info{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 18px;
    color: #000000;
}
.fline-3 .infomation a{
    font-size: 13px;
    color: #898989;
    line-height: 28px;
}

.fline-3 .infomation a b{
    color: #000000;
}

.fline-3 .infomation a:hover{
    color: #CC9966;
}

.fline-3 .infomation.imgs{
    padding-top: 20px;
    margin-top: 20px;
    width: 100%;
}
.fline-3 .infomation.imgs>img{
    padding-right: 50px;
}

/* ==========fline-4============= */
.fline-4{
    margin-bottom: 10px;
    padding-top: 20px;
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    width: 100%;
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}

.fline-4 .contents-4>a{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.fline-4 .contents-4 .input-4,
.fline-4 .contents-4>img,
.fline-4 .contents-4 .img-4{
    margin-top: 20px;
}
.fline-4 .contents-4 input{
    width: 268px;
    height: 40px;
    border: 1px solid #e4c7aa;
    outline: none;
    background: #F8F8F8;
    padding:0 0 0 15px ;
    box-sizing: border-box;
    border-radius: 2px;
}
.fline-4 .contents-4 button{
    width: 93px;
    height: 40px;
    border: none;
    outline: none;
    background: #bd8750;
    padding:0 15px ;
    box-sizing: border-box;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    margin-left: 9px;
}

.fline-4 .contents-4>img,
.fline-4 .contents-4 .img-4{
    margin-top: 23px;
}
.fline-4 .contents-4 .img-4 .fa{
    text-align: center;
}
.fline-4 .contents-4 .img-4 .fa .fa-facebook{
   width: 33px;
   height: 33px;
   line-height: 33px;  
   font-size: 33px;
   border-radius: 60px;
   background: #ffffff;
   color: #165de0; 
}
.fline-4 .contents-4 .img-4 .fa:hover .fa-facebook{
    background: #165de0;
    color:  #fafafa; 
}
.fline-4 .contents-4 .img-4 .fa:hover .fa-google-plus {
    background: #f92109;
    color: #ffffff;
}
.fline-4 .contents-4 .img-4 .fa:hover .fa-square-twitter{
    background:#16b4e0;
    color:  #fafafa; 
}
.fline-4 .contents-4 .img-4 .fa:hover .fa-instagram{
    background: #bd8750;
    color:  #ffffff; 
}
.fline-4 .contents-4 .img-4 .fa .fa-google-plus{
    width: 33px;
    height: 33px;
    line-height: 33px;  
    font-size: 33px;
    border-radius: 60px;
    background: #ffffff;
    color: #f92109; 
 }
 .fline-4 .contents-4 .img-4 .fa .fa-square-twitter{
    width: 33px;
    height: 33px;
    line-height: 33px;  
    font-size: 33px;
    border-radius: 60px;
    background: #ffffff;
    color: #16b4e0; 
 }
 .fline-4 .contents-4 .img-4 .fa .fa-instagram{
    width: 33px;
    height: 33px;
    line-height: 33px;  
    font-size: 33px;
    border-radius: 60px;
    background: #ffffff;
    color: #bd8750; 
 }

 .fline-4 .contents-4 .img-4 .fa .fa-youtube{
    width: 33px;
    height: 33px;
    line-height: 33px;  
    font-size: 33px;
    border-radius: 60px;
    background: #ffffff;
    color: #f92109; 
 }

